// The Kannada Sangam MN font is added to allow mobile testing in the browser of forms containing Kannada Script
// It probably is not used in the Android App if it has the Helvetica Neue font.

@font-face {
    font-family: 'Kannada Sangam MN';
    src: url("#{$icon-font-path}Kannada Sangam MN.ttc");
}

@font-face {
    font-family: 'enketo-icons';
    src: url('#{$icon-font-path}enketo-icons-v2.woff') format('woff'), 
        url('#{$icon-font-path}enketo-icons-v2.ttf') format('truetype'), 
        url('#{$icon-font-path}enketo-icons-v2.svg#enketo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin font-normal {
    font-family: "Helvetica Neue", "Kannada Sangam MN", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin font-bold {
    font-family: "Helvetica Neue", "Kannada Sangam MN", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}
