/* overriding main rules */
body, h2,h3,h4,legend {
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0d0d0d;
}

h3 {
    font-weight: bolder;
    font-size: 30px;
}

.btn-info {
    //slightly tweak bootstrap default
    @include button-variant($btn-info-color, #5bc0de, $btn-info-border);
}

#submit-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    height: 45px;
    @include button-variant($btn-info-color, rgb(65, 151, 32), rgb(36, 122, 10));
    progress {
        margin: 0 auto 0 auto;
    }
}

.main {
    padding-top: 20px;
}

.paper {
    border: none;
}

/* overriding _form rules */
.paper {
    .form-language-selector {
        border-right: none;
    }
    .form-header {
        display: none;
    }
}
